<!DOCTYPE html>
<html>

<head>
    <title>socket .io Emmitter</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
    <!--//web-fonts-->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>

<body>
    <h1>Communicating with socket .io! Served on EC2 <%= addressIP %> </h1>
    <h1> <%= username %> Logged in as Emitter \\\\\\\ <a name="emitLogout" type="button" href="/logout">Logout</a> </h1>   
    <video src="" id="video" style="width:680px;height:320px;" autoplay="true"></video>
   <canvas style="display:none;" id="preview"></canvas>
   
   <script type="text/javascript">
    var canvas = document.getElementById("preview");
    var context = canvas.getContext("2d");

    canvas.width = 700;
    canvas.height = 500;

    context.width = canvas.width;
    context.height = canvas.height;

    var video = document.getElementById("video");
    
    var socket = io();

    function logger(msg){
        $("#logger").text(msg);
    }

    function loadCam(stream){
        alert('Camera OK ');
        video.src = window.URL.createObjectURL(stream);
        logger('Camera OK');
    }

    function loadFail(){
        alert('Camera load Failed');
        logger(' Camera load Failed');
    }

    function viewVideo(video,context){
        context.drawImage(video,50,0,context.width,context.height);
        socket.emit('stream',canvas.toDataURL('image/webp'));

    }

    $(function(){

        var constraints = {audio: false, video: {frameRate: {ideal: 60, min:10}}};

        navigator.getUserMedia = (navigator.getUserMedia || navigator.
        webkitGetUserMedia || navigator.mozGetUserMedia || navigator.
       msgGetUserMedia);

        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia){
            navigator.mediaDevices.getUserMedia(constraints)
                .then(loadCam)
                .catch(loadFail);
        }

        
    });
        

    setInterval(function(){
        viewVideo(video,context);
    }, 70);
        
    </script>
</body>

</html>